<div class="js-share-image-success-message modal fade" tabindex="-1" role="dialog" aria-labelledby="shareImageSuccessMessageLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="shareImageSuccessMessageLabel">Share Succeeded!</h4>
      </div>
      <div class="modal-body">
        <p>You have successfully shared the image to your friend!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
