$navbar-light-active-color : #ecffbb;
$navbar-light-color : white;
$gray-lightest : #9b59b6;
$enable-flex : true;
$brand-primary : #9b59b6;
$grid-gutter-width : 0.75rem;

@import "bootstrap";

@import "footer";
@import "image-container";
@import "site";
