<div class="col-sm-4">
  <div class="card">
    <div class="image-container">
      <%= link_to image_tag(image.url, class: 'image-container__image card-img-top'), image_path(image), class: 'js-image-show'%>
    </div>
    <div class="card-block">
      <%= render partial: 'images/tag_link', collection: image.tag_list %>
    </div>
  </div>
</div>
