<div class="modal fade" id="shareImageProgressBar" tabindex="-2" role="dialog" aria-labelledby="shareImageProgressBarLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareImageProgressBarLabel">Sharing Image</h5>
      </div>
      <div class="modal-body">
        <div class="progress-bar-container">
          <%= image_tag 'ajax-loader.gif', class: 'progress-bar-container__image' %>
        </div>
      </div>
    </div>
  </div>
</div>
