<%= link_to 'New Image', new_image_path, type: 'button', class: 'btn btn-primary'%>

<hr>

<div class="row">
  <%= render @images %>
</div>

<%= render partial: 'share_image_modal' %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'images/index/index' %>
<% end %>
