<h3>Please add image URL below</h3>

<hr>

<%= simple_form_for @image do |f| %>
  <%= f.input :url %>
  <%= f.input :tag_list, label: 'Tags' %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
