<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="footer__header"">About</h2>
        <p class="m-a-0">This is a website to share fun images!</p>
      </div>
      <div class="col-sm-6">
        <h2 class="footer__header">Contact</h2>
        <p class="m-a-0">I am always here!</p>
      </div>
    </div>
  </div>
</footer>
